*, *:before, *:after {

    box-sizing: border-box;
  }

.box {
    width: 200px;
    height: 200px;
    border: 5px green dashed;
}

.my-box2 {
    border: 10px orange solid;
}

.error {
    /* display: block; */
    text-decoration: wavy underline lime;
}