/* body {

    background-image: linear-gradient(45deg, hsla(0, 26%, 49%, 0.527) ,
         green,
         orange,
        rgba(214, 214, 27, 0.781));
    background-size: 250px 250px;
    opacity: 0.4;
} */

main {
    background-image:
  linear-gradient(to bottom, rgba(255,255,0,0.3), rgba(0,0,255,0.3)),
  /* url('https://mdn.mozillademos.org/files/7693/catfront.png'); */
  url('../img/tile.png');
}
div {
    width: 100px;
    height: 100px;
    opacity: 1;
}

div:hover {
    transform: scale(1.1);
}

.d1 {
    background-color: hsla(98, 45%, 35%, 0.137);
}

.d2 {
    background-color: rgba(34, 126, 54, 0.267);
}

.d3 {
    background-color: rgb(73, 31, 112);
}

.d4 {
    background-color: hsl(34, 78%, 91%);
}

.d5 {
    background-color: #c4ffeb49; /* 4th value is opacity */
}

.d6 {
    background-image: url('../img/tile.png');
    transform: scale(1);
}