.container {
    font-size: 40px;
    width: 100%;
    background: LightGray;
    /* add your code below this line */
    display: grid;
    /* grid-template-columns: 100px 100px 100px; */
    grid-template-columns: 1fr 100px 2fr;
    grid-template-rows: 50px 75px 100px 125px;

    /* grid-column-gap: 20px;
    grid-row-gap: 10px; */
    /* NOT grid-gap which is depreceated!! */
    gap: 10px 20px;

    /* add your code above this line */
  }

.d1{
    background:LightSkyBlue;
    justify-self: center;
    align-self: center;
}
.d2{
    background:LightSalmon;
    justify-self: start;
}
.d3{
    background:PaleTurquoise;
    align-self: end;
}
.d4{background:LightPink;}
.d5{
    background:PaleGreen;
    grid-column: 2 / 4;
    grid-row: 3 / 5;
}

div.mr-red {
    background-color: red;
    z-index: 2;
}

div.mr-blue {
    background-color: blue;
    z-index: 1;
}


