.container {
    font-size: 40px;
    width: 100%;
    background: LightGray;
    /* add your code below this line */
    display: grid;
    /* grid-template-columns: 100px 100px 100px; */
    grid-template-columns: 1fr 100px 2fr;
    grid-template-rows: 50px 75px 100px 125px;

    /* grid-column-gap: 20px;
    grid-row-gap: 10px; */
    /* NOT grid-gap which is depreceated!! */
    gap: 10px 20px;

    /* add your code above this line */
    grid-template-areas: 
        "header header  header"
        "nav    main    main"
        "ad     .    ."
        "footer footer  footer"
  }

.d1{
    background:LightSkyBlue;
    /* justify-self: center;
    align-self: center; */
    grid-area: header;
}
.d2{
    background:LightSalmon;
    /* justify-self: start; */
    grid-area: nav;
}
.d3{
    background:PaleTurquoise;
    /* align-self: end; */
    grid-area: main;
}
.d4{
    background:LightPink;
    grid-area: ad;
}
.d5{
    background:PaleGreen;
    grid-area: footer;

}

div.mr-red {
    background-color: red;
    z-index: 2;
}

div.mr-blue {
    background-color: blue;
    z-index: 1;
}

@media (min-width: 600px) {
    .container {
        grid-template-areas: 
        "header header  header"
        "nav    main    main"
        "ad     main    main"
        "ad footer  footer"
    }

}


